.FillerWordCounterPage__header {
  margin: 12px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.FillerWordCounterPage__header select,
.FillerWordCounterPage__header button {
  padding: 1em;
}
